@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #dbdcd7;
    background-color: #2f343f;
}

body#home {background-color: rgba(46, 52, 64, 1.00);}
body#process {background-color: rgba(46, 52, 64, 1.00);}
body#contact {background-color: rgba(46, 52, 64, 1.00);}

#wrapper {
    padding: 5%;
}

header{
    max-width: 75%;
    margin-bottom: 18rem;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {opacity: 0.5;}

header h1 { 
    letter-spacing: -0.02em;
    font-family: 'Poppins', sans-serif;
    font-size: 6.5em;
    line-height: 100%;
    font-weight: 600;
    color: rgba(219, 220, 215, 1.00);
 }

header h2 {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    line-height: 110%;
    font-size: 6.5rem;
    letter-spacing: -0.02em;
    color: rgba(219, 220, 215, 1.00);
}

nav {
    margin-bottom: 18rem;
}

nav ul {
    overflow: hidden;
    padding: 0;
    margin-top: 50px;
}
nav ul li {
    display: inline;
    overflow: hidden;
}

nav a {
    display: block;
    font-size: 1.2rem;
    float: left;
    margin-right: 150px;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(246, 205, 122, 1.00);
}

#intro {
    max-width: 50%;
    min-width: 500px;
}

#intro p {
    font-size: 1.5rem;
    color: #dbdcd7;
    font-weight: 200;
    line-height: 2.2rem;
    letter-spacing: -0.02em;
}

#portfolio {
    padding: 20rem 0 0 0;
}

#portfolio h3 { 
    letter-spacing: -0.02em;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 40px;
    color: rgba(219, 220, 215, 1.00);
}

#portfolio section {padding: 50px 0;}

.portfolio-description sub,
.portfolio-description div,
.portfolio-description p,
.portfolio-description h4 {
    margin-left: 5px;
}

sub {
    font-weight: 600;
    font-size: 1em;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-row-gap: 18rem;
    grid-column-gap: 10rem;
    align-items: center;  
    margin-bottom: 50px;
}

.home-grid {grid-template-columns: 2fr 2fr;}

.grid-container img {
    border-radius: 15px;
    width: 500px;
}

p {
    font-size: 1.2em;
    margin-top: 55px;
    margin-bottom: 15px;
    line-height: 2rem;
}

.sep-large {
    width: 150px; 
    margin: 60px 0 50px 5px; 
    height: 10px;
    background-color: rgba(246, 205, 122, 1.00);
    border-radius: 10px;
}

.sep-small {
    width: 40px; margin: 10px 0px;
    background-color: rgba(246, 205, 122, 1.00);
    height: 2px;
    border-radius: 5px;
}

.process-container {
    width: 50%;
}

.process-container h3 {
    font-size: 3rem;
}

.process-container section {
    margin-bottom: 100px;
}

.process-nav {
    padding: 30px;
    border-radius: 10px;
    background-color: #21242D;
    width: 75%
}

#portfolio.case-study { 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    }

.span-col-2{grid-column: span 2 / auto;}  

footer {
    background: #1C1F26;
    margin-top: 200px;
    padding: 5rem;
    width: 100%;
}

@media only screen /* modern ios */ 
  and (max-device-width: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-min-device-pixel-ratio: 3) {
    body { 
        background-color: #000;
    }
}